In [1]:
import pandas as pd

import acquire
import prepare
import model_target_sex

In [2]:
train, validate, test = prepare.split_data(acquire.make_dataset())
prepare.make_sex_distribution_df(train, validate, test)

    dataset  proportion_male  proportion_female  total_male  total_female
0     train         0.585714           0.414286          41            29
1  validate         0.571429           0.428571          20            15
2      test         0.600000           0.400000          21            14

In [3]:
X, y = model_target_sex.make_X_and_y(train)
X.sample(3)

,case,trap_site,state,age,head_length,skull_width,total_length,tail_length,foot_length,ear_length,eye_width,chest_girth,belly_girth,latitude,longitude,elevation
65,66,Conondale Ranges,Queensland,3.0,90.4,55.8,860.0,365.0,63.2,44.2,15.7,265.0,340.0,-26.433333,152.583333,400
84,85,Bulburin State Forest,Queensland,3.0,89.5,56.2,920.0,405.0,65.6,43.5,14.5,270.0,315.0,-24.550000,151.466667,600
41,42,Bellbird,Victoria,3.0,85.3,54.1,770.0,320.0,62.7,51.2,13.8,255.0,330.0,-37.616667,148.800000,300

In [5]:
model_target_sex.make_modeling_columns(train).sample(2)

,case,trap_site,state,sex,age,head_length,skull_width,total_length,tail_length,foot_length,...,body_skull_ratio,total_head_ratio,total_eye_ratio,total_skull_ratio,belly_head_ratio,belly_skull_ratio,belly_eye_ratio,chest_head_ratio,chest_skull_ratio,foot_eye_ratio
37,38,Bellbird,Victoria,male,7.0,92.4,56.0,805.0,355.0,68.4,...,6.385714,8.712121,50.628931,14.375000,3.246753,5.357143,18.867925,2.922078,4.821429,4.301887
1,2,Cambarville,Victoria,female,6.0,92.5,57.6,915.0,365.0,72.5,...,7.942708,9.891892,57.187500,15.885417,3.567568,5.729167,20.625000,3.081081,4.947917,4.531250